.contact {
  margin: 3rem;
}

.contact .container h3 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}

.contact .container p {
  text-align: center;
  font-size: 2rem;
}

.clickable-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}
