.languages {
  background-color: #f8f8f8;
  padding-top: 2rem;
}

.box {
  margin: 3rem;
}

.languages .box .container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.languages h3 {
  padding-top: 1rem;
  font-size: 3rem;
  text-align: center;
}

.container .grid-item {
  padding: 1rem;
  background: #ffffff;
  text-align: center;
  margin: 1.5rem;
  border-radius: 50px 50px 0px 50px;
  transition: all 0.3s ease-in-out 0s;
}

.grid-item:hover {
  background: var(--secondary-color);
  border-radius: 50px 50px 0px 50px;
  transition: all 0.5s ease-in-out 0s;
}

@media screen and (max-width: 940px) {
  .languages .box .container {
    grid-template-columns: auto auto;
  }

  .languages .grid-item {
    max-width: 100%;
    margin: 1rem;
  }
}
